.self, .others, .opponent, .name {
    font-weight: bold;
}

.self {
    color: green;
}

.others {
    color: blue;
}

.opponent {
    color: red;
}

a {
    color: blue;
    text-decoration: underline;
}

.move {
    font-weight: bold;
}

.trainer {
    font-weight: bold;
}

.pokemon-ally {
    font-weight: bold;
    color: navy;
}

.pokemon-enemy {
    font-weight: bold;
    color: maroon;
}

.muted {
    text-decoration: line-through;
}

.mode {
    font-weight: bold;
}

.victory {
    font-size: x-large;
}

.help {
    font-style: italic;
}

.timestamp {
    color: rgb(70, 70, 70);
    font-size: 10pt;
}

body {
    font-size: 11pt;
}

.health-change {
    
}

.kick, .ban {
    color: red;
}