.self, .others, .opponent, .name {
	font-weight: bold;
}

.self {
	color: green;
}

.others {
	color: blue;
}

.opponent {
    color: red;
}

a {
	color: blue;
	text-decoration: underline;
}

.move {
    font-weight: bold;
}

.trainer {
    font-weight: bold;
}

.pokemon-ally {
    font-weight: bold;
    color: navy;
}

.pokemon-enemy {
    font-weight: bold;
    color: maroon;
}
